<div class="post">
    <p>
        <strong>投稿者:</strong>
        <%= @post.id %>
    </p>
    <p>
        <strong>投稿内容:</strong>
        <%= @post.body %>
    </p>
    <p>
        <strong>投稿日時:</strong>
        <%= @post.created_at %>
    </p>
</div>

<%= link_to "一覧に戻る", posts_path %>